DATABASE_URL=postgresql://username:password@host:5432/database_name
DATABASE_SSL=true

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_STRING

PORT=4000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
